<div class="row">
    <div class="col-12">
    <form action="" method="POST">
        <div class="input-group">
            <input type="text" class="form-control" name="url">
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary" type="submit">Button</button>
			  </div>
        </div>
    </form>
    <textarea class="form-control" rows="20" cols="50">
        {{# each array}}
            {{{this}}}
        {{/each}}
    </textarea>
    </div>
</div>
